{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transaction Type</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for holding in holdings %}
            <tr>
                <td class="text-start">{{ holding.symbol }}</td>
                <td class="text-end">{{ holding.shares }}</td>
                <td class="text-end">{{ holding.price | usd }}</td>
                <td class="text-end">{{ holding.type }}</td>
                <td class="text-end">{{ holding.time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
